.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    font-size: 0.5em;
}

.x-label,
.x .tick {
    font-size: 0.7em;
    font-family: sans-serif;
}

.y-label,
.y .tick {
    font-size: 0.7em;
    font-family: sans-serif;
}

.y.axis path,
.y.axis line {
    stroke: none;
}

.projectName {
    font-family: sans-serif;
    font-size: 0.8em;
}

.scheduleRect {
    fill: rgb(84, 156, 227);
}

.scheduleView {
    overflow: auto;
}
